<form #f="ngForm" (ngSubmit)= "submit(f)">
    <div ngModelGroup="contact">

        <div class="from-group">
            <label for="FirstName">First Name</label>
            <input 
                required 
                minlength="4" 
                maxlength="10" 
                pattern="[a-zA-Z]+" 
                ngModel name="firstName" 
                #firstName="ngModel" 
                (change)="log(firstName)" 
                class="form-control" 
                id="FirstName" 
                type="text">
        <div class="alert alert-danger" 
            *ngIf="firstName.touched && !firstName.valid">
            <div 
                *ngIf="firstName.errors.required"> 
                Ce champ est obligatoire !!
            </div>
            <div 
                *ngIf="firstName.errors.minlength"> 
                Ce champ doit avoir au moins {{firstName.errors.minlength.actualLength}} / {{firstName.errors.minlength.requiredLength}} chars !!
            </div>
            <div 
                *ngIf="firstName.errors.pattern">
                FirstName doit etre alpha !!
            </div>
        </div>
        </div>
        <div class="from-group">
            <label for="LastName">Last Name</label>
            <input ngModel name="lastName" #lastName (change)="log(lastName)" class="form-control" id="LastName" type="text">
        </div>

    </div>
   
    <div class="from-group">
        <label for="Comment">Comment</label>
        <textarea ngModel name="comment" #comment (change)="log(comment)" class="form-control" id="Comment" type="text"></textarea>
    </div><br>
    <div class="form-group">
        <label for="ContactMethod">Méthode de contact</label>
        <select id="ContactMethod" ngModel name="ContactMethod">
            <option value=""></option>
            <option value="" *ngFor="let method of ContactMethods" [value]="method.id">{{method.name}}</option>
        </select>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngModel name="subscribe"> s'abonner
        </label>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Enregister</button>
</form>
<p>
    {{f.value | json}}
</p>