<h1>Notre application Angular</h1>
<br><br>
<div class="container">
    <div class="col-md-6 col-md-offset-3" >
        <contact-form></contact-form>    
    </div>
</div>

<br><br>
<input type="text" appInputFormat [format]="'uppercase'">
<br><br>

<ul class="nav nav-pills">
    <li [class.active]="viewCourses == 'Laravel'"><a (click)="viewCourses='Laravel'">Laravel</a></li>
    <li [class.active]="viewCourses == 'Angular'"><a (click)="viewCourses='Angular'">Angular</a></li>
    <li [class.active]="viewCourses == 'Symfony'"><a (click)="viewCourses='Symfony'">Symfony</a></li>
</ul>
<div [ngSwitch]="viewCourses">
    <div *ngSwitchCase="'Laravel'">Lorem Laravel</div>
    <div *ngSwitchCase="'Angular'">Lorem Angular</div>
    <div *ngSwitchCase="'Symfony'">Lorem Symfony</div>
    <div *ngSwitchDefault>Autre choix...</div>
</div>
<button (click)="loadCourse()">Load</button>
<button class="btn btn-success" (click)="addCourse()">Ajouter</button>
<ul>
    <li *ngFor="let course of courses1; trackBy: trackCourse">
        {{course.id}} {{course.title}}
        <button class="btn btn-danger" (click)="removeCourse(course)">Delete</button>
        <button class="btn btn-warning" (click)="editCourse(course)">Edit</button>
    </li>
</ul>

<br>
<br>
<br>
<br>
<br>
<br>

<button (click)="myFunction()">Khalid</button>
<br><br>
<favorit [is-favorite]="post.isFavorite" (change)="onFavoriteChanged($event)"></favorit>

<p></p>
<p>{{body | resume : 10}}</p>
<p></p>
<p></p>
<p></p>

<div [hidden]="courses.length == 0">
    Liste de mes cours
</div>
<div [hidden]="courses.length > 0">
    pas de cours
</div>

<p>{{personne.adresse?.ville}}</p>